.storie-area {

    .storie-title {
        h2 {
            font-weight: bold;
            font-size: 60px;
            line-height: 115%;
            margin-bottom: 30px;
        }
        p {
            font-size: 22px;
            line-height: 35px;
            margin: 0;
            padding: 0;
        }
    }
    .storie-img {
        position: relative;

        .storie-wrapper {
            .img {
                position: relative;
                width: 100px;
                height: 100px;
                z-index: 0;
                @include transition(0.3s);
                img {
                    max-width: 100%;
                }
                &:hover img {
                    transform: scale(1.3);
                }
                &:hover .content {
                    visibility: visible;
                    opacity: 1;
                    position: relative;
                }

                .content {
                    background-color: $theme-color;
                    box-shadow: 0px 29px 38px rgba(47, 114, 186, 0.17);
                    border-radius: 10px;
                    width: 301px;
                    height: 196px;
                    padding: 20px 15px;
                    visibility: hidden;
                    opacity: 0;
                    @include transition(0.3s);
                    &:hover:before{
                        opacity: 1;
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        width: 30px;
                        height: 30px;
                        background-color: #3E80FF;
                        transform: rotate(-46deg);
                        left: 30px;
                        top: -13px;
                        opacity: 0;
                    }

                    h4 {
                        margin: 0;
                        padding: 0;
                        a {
                            font-size: 22px;
                            color: #fff;
                            margin-bottom: 5px;
                            padding: 0;
                            font-weight: bold;
                            display: inline-block;
                        }
                    }
                    span {
                        color: #fff;
                        opacity: .6;
                        font-weight: 400;
                        font-size: 14px;
                    }
                    p {
                        color: #fff;
                        opacity: .5;
                        font-size: 18px;
                        line-height: 28px;
                        margin-top: 20px;
                    }
                }
                
            }
            .img-1 {
                position: absolute;
                top: 100px;
                left: 0px;
                
            }
            .img-2 {
                position: absolute;
                top: 185px;
                left: 335px;
            }
            .img-3 {
                position: absolute;
                top: 70px;
                right: 50px;

                .content-3 {
                    position: absolute;
                    left: -190px;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 30px;
                        height: 30px;
                        background-color: #3E80FF;
                        transform: rotate(-46deg);
                        left: 230px;
                        top: -13px;
                    }
                }
            }
            .img-4 {
                position: absolute;
                top: 112px;
                right: 250px;
            }
            .img-5 {
                position: absolute;
                top: 424px;
                right: 100px;
                .content-5 {
                    position: absolute;
                    left: -190px;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 30px;
                        height: 30px;
                        background-color: #3E80FF;
                        transform: rotate(-46deg);
                        left: 230px;
                        top: -13px;
                    }
                }
            }
            .img-6 {
                position: absolute;
                bottom: 230px;
                right: 530px;
            }
            .img-7 {
                position: absolute;
                bottom: 100px;
                left:334px;
            }
        }
    }
    
}



// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
    .storie-area {
        .storie-img {
            .storie-wrapper {
                .img {
                    .content{
                        &::before {
                           display: none;
                        }
                    }
                }
                .img-2 {
                    top: 0;
                    left: 187px;
                }
                .img-6 {
                    right: 600px;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .storie-area {
        padding-bottom: 20px;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .storie-area {
        padding: 50px 0;
        .storie-title {
            padding-bottom: 50px;
            h2 {
                font-size: 50px;
                margin-bottom: 20px;
            }
            p {
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  
    .storie-area {
        padding-top: 100px;
        padding-bottom: 20px;
        .storie-title {
            h2 {
                font-size: 50px;
                margin-bottom: 20px;
            }
            p {
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
  
}